* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 42px;
}

.upper {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  width: 100vw;
  align-items: center;
}

.header {
  flex-basis: 75px;
  width: 50vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li {
  list-style: none;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.introduction-section {
  flex-basis: 500px;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-wrap: wrap-reverse;
  gap: 30px;
}

.text-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 40px;
}

button {
  width: 200px;
  height: 40px;
  background-color: #3882f6;
  border: none;
  color: white;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
}

.upper img {
  height: 15vw;
  width: auto;
  border-radius: 20px;
}

.looks-section {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  text-align: center;
  width: 50vw;
  gap: 50px;
  align-items: center;
}

.looks-section img {
  width: 250px;
  border-radius: 30px;
  margin-bottom: 10px;
  border: 4px solid #3882f6;
  box-shadow: 2px 4px 30px 2px;
}

.cards {
  display: flex;
  gap: 60px;
}
