@import url("https://fonts.googleapis.com/css2?family=Spirax&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 42px;
}

.upper {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  width: 100vw;
  align-items: center;
}

.header {
  flex-basis: 75px;
  width: 50vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li {
  list-style: none;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.introduction-section {
  flex-basis: 500px;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-wrap: wrap-reverse;
  gap: 30px;
}

.text-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 40px;
}

button {
  width: 200px;
  height: 40px;
  background-color: #3882f6;
  border: none;
  color: white;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
}

.upper img {
  width: 600px;
  border-radius: 20px;
}

.looks-section {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  text-align: center;
  width: 50vw;
  gap: 50px;
  align-items: center;
}

.looks-section img {
  width: 250px;
  margin-bottom: 10px;
  border-radius: 30px;
  border: 4px solid #3882f6;
}

.cards {
  display: flex;
  gap: 60px;
}

.quote-section {
  padding: 50px 500px;
  margin: 50px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
}

.quote {
  width: 50vw;
  font-family: "Spirax", sans-serif;
  font-size: 30px;
}

.quote-author {
  font-size: 20px;
  font-weight: bold;
  align-self: flex-end;
}

.sign-up-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  display: flex;
  padding: 25px;
  background-color: #3882f6;
  margin-bottom: 50px;
  color: white;
  gap: 300px;
}

.popup h3 {
  align-self: flex-start;
}

.popup button {
  border: 2px solid white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  color: white;
  background-color: #1f2937;
  width: 100%;
}
